#appDiv {
    background-color: rgb(211, 211, 211);
    display:flex;
    flex-flow:row;

}

#partsSelector {
    background-color: gray;
    display:flex;
    flex-flow:column;
    width: 20em;
}

#selectedParts {
    background-color: lightblue;
    display:flex;
    flex-flow:column;
    flex-grow:3;
}
